body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(219, 241, 254);
  background-image: url("src/img/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* מרחק מקומפוננטת סיכום הקמפיין */
.component {
  padding: 20px;
}

/* תמונת הרקע */
.background-image {
  background-image: url('src/img/images.png');
  background-position: center;
  height: 30vh;
  bottom: 0;
  margin-top: auto;
}